In [1]:
import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.types import *
from pyspark.sql.functions import *

from datetime import datetime

In [2]:
print(f"Pyspark Version: {pyspark.__version__}")

# create a spark session
spark = SparkSession.builder \
        .appName("testApp") \
        .config("spark.executor.memory", "2g") \
        .config("spark.driver.memory", "1g") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

# check if the spark session created successfully
print("Spark Session created successfully!")

Pyspark Version: 3.5.2
Spark Session created successfully!

In [3]:
spark

In [4]:
#1. problem

data = [
    ["Product A", 1001, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 10:15:30", "%Y-%m-%d %H:%M:%S"), 29.99],
    ["Product B", 1002, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 14:20:45", "%Y-%m-%d %H:%M:%S"), 49.99],
    ["Product C", 1003, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 09:30:15", "%Y-%m-%d %H:%M:%S"), 39.99],
    ["Product D", 1004, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 14:45:00", "%Y-%m-%d %H:%M:%S"), 19.99],
    ["Product E", 1005, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 11:15:30", "%Y-%m-%d %H:%M:%S"), 24.99],
    ["Product F", 1006, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 16:00:00", "%Y-%m-%d %H:%M:%S"), 59.99],
    ["Product G", 1007, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 12:30:00", "%Y-%m-%d %H:%M:%S"), 34.99],
    ["Product H", 1008, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 09:00:00", "%Y-%m-%d %H:%M:%S"), 44.99],
    ["Product I", 1009, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 13:15:30", "%Y-%m-%d %H:%M:%S"), 69.99],
    ["Product J", 1010, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 15:00:00", "%Y-%m-%d %H:%M:%S"), 49.49],
    ["Product K", 1011, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 08:30:15", "%Y-%m-%d %H:%M:%S"), 55.99],
    ["Product L", 1012, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 10:30:00", "%Y-%m-%d %H:%M:%S"), 64.99]
]

# let's define the schema
schema = StructType([
    StructField("Product", StringType(), True),
    StructField("ID", IntegerType(), True),
    StructField("Date", DateType(), True),
    StructField("Timestamp", TimestampType(), True),
    StructField("Price", FloatType(), True)
])

# let's create the dataframe
df = spark.createDataFrame(data, schema)

In [5]:
# print the df schema
df.printSchema()

root
 |-- Product: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Date: date (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- Price: float (nullable = true)

In [6]:
df.show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|24.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
+---------+----+----------+-------------------+-----+

In [20]:
# fetch the minimum price from the dataframe 
df.select(min(df.Price).alias("min_price")).show()

+---------+
|min_price|
+---------+
|    19.99|
+---------+

##### **Easy**
1. Select all products and their prices - Display only the Product and Price columns from the DataFrame.

2. Filter products with a price greater than $30 - Filter the DataFrame to show only rows where Price is greater than 30.

3. Count the number of products with a price less than $40 - Count how many products have a Price less than 40.

##### **Medium**
4. Sort products by price in descending order - Sort the DataFrame by the Price column in descending order.

5. Get the product with the maximum price - Retrieve the row with the highest Price value.

6. Calculate the average price of all products - Use aggregation to compute the average Price of the products.

7. Extract the hour from the timestamp - Add a new column that extracts and displays the hour from the Timestamp column.

##### **Hard**
8. Group products by date and calculate the average price for each date - Group by the Date column and calculate the average Price for each unique date.

9. Find the minimum and maximum price on each date and alias the columns as min_price and max_price - For each unique date, find both the minimum and maximum prices, with appropriate aliases.

10. Identify products priced above the average price and sort by price in ascending order - First, find the average price, then filter the products priced above that average and sort the results in ascending order.

In [21]:
# 1.

df.select(df.Product, df.Price).show()

+---------+-----+
|  Product|Price|
+---------+-----+
|Product A|29.99|
|Product B|49.99|
|Product C|39.99|
|Product D|19.99|
|Product E|24.99|
|Product F|59.99|
|Product G|34.99|
|Product H|44.99|
|Product I|69.99|
|Product J|49.49|
|Product K|55.99|
|Product L|64.99|
+---------+-----+

In [24]:
# 2.

df.filter(df.Price > 30.0).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
+---------+----+----------+-------------------+-----+

In [25]:
# 2.

df.where(df.Price > 30.0).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
+---------+----+----------+-------------------+-----+

In [27]:
# 3.

df.filter(df.Price < 40.0).count()

5

In [29]:
# 4.

df.sort(desc(df.Price)).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|24.99|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|
+---------+----+----------+-------------------+-----+

In [30]:
# 4.

df.orderBy(desc("Price")).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|24.99|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|
+---------+----+----------+-------------------+-----+

In [37]:
# 5.

max_price = df.select(max("Price")).collect()[0][0]
max_price

69.98999786376953

In [38]:
df.filter(df.Price == max_price).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
+---------+----+----------+-------------------+-----+

In [40]:
# 6.

df.agg(round(avg("Price"), 4).alias("average_price")).show()

+-------------+
|average_price|
+-------------+
|      45.4483|
+-------------+

In [7]:
# 7.

df = df.withColumn("Hour", hour(df.Timestamp))
df.show()

+---------+----+----------+-------------------+-----+----+
|  Product|  ID|      Date|          Timestamp|Price|Hour|
+---------+----+----------+-------------------+-----+----+
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|  10|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|  14|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|   9|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|  14|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|24.99|  11|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|  16|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|34.99|  12|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|   9|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|  13|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|  15|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|   8|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|  10|
+---------+----+----------+-------------------+-----+----+

In [47]:
# 8.

df.groupBy("Date").agg(round(avg("Price"), 4).alias("Avg_price")).show()

+----------+---------+
|      Date|Avg_price|
+----------+---------+
|2023-07-20|  41.6567|
|2023-07-19|  53.1567|
|2023-07-18|  43.6567|
|2023-07-17|  43.3233|
+----------+---------+

In [49]:
# 9. 

df.groupBy("Date").agg(max("Price").alias("max_price"), min("Price").alias("min_price")).show()

+----------+---------+---------+
|      Date|max_price|min_price|
+----------+---------+---------+
|2023-07-20|    69.99|    24.99|
|2023-07-19|    59.99|    49.49|
|2023-07-18|    55.99|    34.99|
|2023-07-17|    64.99|    19.99|
+----------+---------+---------+

In [52]:
# 10.

avg_price = df.agg(avg(df.Price)).collect()[0][0]

df.filter(df.Price > avg_price).sort(asc("Price")).show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
+---------+----+----------+-------------------+-----+

##### **Advanced Queries with Window Functions:**
1. Calculate a rolling average price of products over the last 2 entries for each date
* Use a window to calculate a rolling average for each product based on the previous 2 records within the same Date.

2. Find the difference between each product’s price and the maximum price on that date
* For each row, calculate the difference between the Price and the maximum Price within the same Date partition.

3. Calculate cumulative sum and cumulative average of prices per date
* Use a window to create columns for the cumulative sum and cumulative average of Price for each Date.

4. Rank products by price within each date
* Use the rank function to rank products by their Price for each Date partition.

5. Identify products whose price is above the 75th percentile for that date
* Calculate the 75th percentile of prices per date, then filter products with prices above this percentile.

##### **Additional Complex Queries:**
6. Calculate the percentage change in price from the previous product by timestamp
* For each product entry, calculate the percentage change in Price compared to the previous entry, ordered by Timestamp.

7. Calculate a 3-day rolling average and standard deviation of prices
* For each date, calculate the rolling average and standard deviation of Price over a 3-day window (including the current and previous two days).

8. Find products with prices above the average price for that week
* Using a week-based window, calculate the weekly average Price and filter products priced above this average.

9. Calculate the day-over-day growth in price per product
* For each product and each date, calculate the difference in Price from the previous day’s Price.

10. Count of products per date where the price is within one standard deviation of the average price
* Calculate the average and standard deviation of Price for each date, then count products within one standard deviation of the mean.

In [9]:
# Expanded data for complex queries with variety in dates, timestamps, and prices
data = [
    ["Product A", 1001, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 10:15:30", "%Y-%m-%d %H:%M:%S"), 29.99],
    ["Product B", 1002, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 14:20:45", "%Y-%m-%d %H:%M:%S"), 49.99],
    ["Product C", 1003, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 09:30:15", "%Y-%m-%d %H:%M:%S"), 39.99],
    ["Product D", 1004, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 14:45:00", "%Y-%m-%d %H:%M:%S"), 19.99],
    ["Product E", 1005, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 11:15:30", "%Y-%m-%d %H:%M:%S"), 34.99],
    ["Product F", 1006, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 16:00:00", "%Y-%m-%d %H:%M:%S"), 59.99],
    ["Product G", 1007, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 12:30:00", "%Y-%m-%d %H:%M:%S"), 24.99],
    ["Product H", 1008, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 09:00:00", "%Y-%m-%d %H:%M:%S"), 44.99],
    ["Product I", 1009, datetime.strptime("2023-07-20", "%Y-%m-%d"), datetime.strptime("2023-07-20 13:15:30", "%Y-%m-%d %H:%M:%S"), 69.99],
    ["Product J", 1010, datetime.strptime("2023-07-19", "%Y-%m-%d"), datetime.strptime("2023-07-19 15:00:00", "%Y-%m-%d %H:%M:%S"), 49.49],
    ["Product K", 1011, datetime.strptime("2023-07-18", "%Y-%m-%d"), datetime.strptime("2023-07-18 08:30:15", "%Y-%m-%d %H:%M:%S"), 55.99],
    ["Product L", 1012, datetime.strptime("2023-07-17", "%Y-%m-%d"), datetime.strptime("2023-07-17 10:30:00", "%Y-%m-%d %H:%M:%S"), 64.99],
    ["Product M", 1013, datetime.strptime("2023-07-21", "%Y-%m-%d"), datetime.strptime("2023-07-21 12:00:00", "%Y-%m-%d %H:%M:%S"), 74.99],
    ["Product N", 1014, datetime.strptime("2023-07-21", "%Y-%m-%d"), datetime.strptime("2023-07-21 14:30:00", "%Y-%m-%d %H:%M:%S"), 24.99],
    ["Product O", 1015, datetime.strptime("2023-07-21", "%Y-%m-%d"), datetime.strptime("2023-07-21 16:45:00", "%Y-%m-%d %H:%M:%S"), 39.99],
    ["Product P", 1016, datetime.strptime("2023-07-22", "%Y-%m-%d"), datetime.strptime("2023-07-22 10:00:00", "%Y-%m-%d %H:%M:%S"), 54.99],
    ["Product Q", 1017, datetime.strptime("2023-07-22", "%Y-%m-%d"), datetime.strptime("2023-07-22 11:30:00", "%Y-%m-%d %H:%M:%S"), 29.99],
    ["Product R", 1018, datetime.strptime("2023-07-23", "%Y-%m-%d"), datetime.strptime("2023-07-23 13:30:00", "%Y-%m-%d %H:%M:%S"), 49.99],
    ["Product S", 1019, datetime.strptime("2023-07-23", "%Y-%m-%d"), datetime.strptime("2023-07-23 15:15:00", "%Y-%m-%d %H:%M:%S"), 59.99],
    ["Product T", 1020, datetime.strptime("2023-07-24", "%Y-%m-%d"), datetime.strptime("2023-07-24 09:30:00", "%Y-%m-%d %H:%M:%S"), 64.99],
    ["Product U", 1021, datetime.strptime("2023-07-24", "%Y-%m-%d"), datetime.strptime("2023-07-24 10:45:00", "%Y-%m-%d %H:%M:%S"), 24.99],
    ["Product V", 1022, datetime.strptime("2023-07-24", "%Y-%m-%d"), datetime.strptime("2023-07-24 12:15:00", "%Y-%m-%d %H:%M:%S"), 49.99]
]

# Define the schema
schema = StructType([
    StructField("Product", StringType(), True),
    StructField("ID", IntegerType(), True),
    StructField("Date", DateType(), True),
    StructField("Timestamp", TimestampType(), True),
    StructField("Price", FloatType(), True)
])

# Create the DataFrame
df = spark.createDataFrame(data, schema)

In [10]:
# Show the DataFrame to confirm
df.show()

+---------+----+----------+-------------------+-----+
|  Product|  ID|      Date|          Timestamp|Price|
+---------+----+----------+-------------------+-----+
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|34.99|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|24.99|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|
|Product M|1013|2023-07-21|2023-07-21 12:00:00|74.99|
|Product N|1014|2023-07-21|2023-07-21 14:30:00|24.99|
|Product O|1015|2023-07-21|2023-07-21 16:45:00|39.99|
|Product P|1016|2023-07-22|2023-07-22 10:00:00|54.99|
|Product Q|1017|2023-07-22|2023-07-22 11:30:00|29.99|
|Product R|1018|2023-07-23|2023-07-23 13:30:00|49.99|
|Product S|1019|2023-07-23|2023-07-23 15:15:00|59.99|
|Product T|1020|2023-07-24|2023-07-24 09:30:00|64.99|
+---------+----+----------+-------------------+-----+
only showing top 20 rows

In [12]:
df.createOrReplaceTempView("products")

In [11]:
from pyspark.sql import Window

In [17]:
# 1.

res = spark.sql("""
    SELECT 
        Product,
        Date,
        Timestamp,
        AVG(Price) OVER(
                    PARTITION BY DATE 
                    ORDER BY Timestamp
                    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
                    ) AS rolling_avg_price
    FROM products
        """)

res.show()

+---------+----------+-------------------+------------------+
|  Product|      Date|          Timestamp| rolling_avg_price|
+---------+----------+-------------------+------------------+
|Product H|2023-07-17|2023-07-17 09:00:00|  44.9900016784668|
|Product L|2023-07-17|2023-07-17 10:30:00|54.989999771118164|
|Product D|2023-07-17|2023-07-17 14:45:00|  43.3233331044515|
|Product K|2023-07-18|2023-07-18 08:30:15|  55.9900016784668|
|Product C|2023-07-18|2023-07-18 09:30:15|  47.9900016784668|
|Product G|2023-07-18|2023-07-18 12:30:00| 40.32333437601725|
|Product B|2023-07-19|2023-07-19 14:20:45|  49.9900016784668|
|Product J|2023-07-19|2023-07-19 15:00:00|  49.7400016784668|
|Product F|2023-07-19|2023-07-19 16:00:00| 53.15666834513346|
|Product A|2023-07-20|2023-07-20 10:15:30|29.989999771118164|
|Product E|2023-07-20|2023-07-20 11:15:30| 32.49000072479248|
|Product I|2023-07-20|2023-07-20 13:15:30|44.989999771118164|
|Product M|2023-07-21|2023-07-21 12:00:00| 74.98999786376953|
|Product N|2023-07-21|2023-07-21 14:30:00| 49.98999881744385|
|Product O|2023-07-21|2023-07-21 16:45:00| 46.65666643778483|
|Product P|2023-07-22|2023-07-22 10:00:00|  54.9900016784668|
|Product Q|2023-07-22|2023-07-22 11:30:00| 42.49000072479248|
|Product R|2023-07-23|2023-07-23 13:30:00|  49.9900016784668|
|Product S|2023-07-23|2023-07-23 15:15:00|  54.9900016784668|
|Product T|2023-07-24|2023-07-24 09:30:00| 64.98999786376953|
+---------+----------+-------------------+------------------+
only showing top 20 rows

In [34]:
# 1.

window_spec = Window.partitionBy("Date").orderBy(asc("Timestamp")).rowsBetween(-2, 0)

res = df.withColumn("rolling_avg_price", avg("Price").over(window_spec))
res.show()

+---------+----+----------+-------------------+-----+------------------+
|  Product|  ID|      Date|          Timestamp|Price| rolling_avg_price|
+---------+----+----------+-------------------+-----+------------------+
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|  44.9900016784668|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|54.989999771118164|
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|  43.3233331044515|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|  55.9900016784668|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|  47.9900016784668|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|24.99| 40.32333437601725|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|  49.9900016784668|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|  49.7400016784668|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99| 53.15666834513346|
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|29.989999771118164|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|34.99| 32.49000072479248|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|44.989999771118164|
|Product M|1013|2023-07-21|2023-07-21 12:00:00|74.99| 74.98999786376953|
|Product N|1014|2023-07-21|2023-07-21 14:30:00|24.99| 49.98999881744385|
|Product O|1015|2023-07-21|2023-07-21 16:45:00|39.99| 46.65666643778483|
|Product P|1016|2023-07-22|2023-07-22 10:00:00|54.99|  54.9900016784668|
|Product Q|1017|2023-07-22|2023-07-22 11:30:00|29.99| 42.49000072479248|
|Product R|1018|2023-07-23|2023-07-23 13:30:00|49.99|  49.9900016784668|
|Product S|1019|2023-07-23|2023-07-23 15:15:00|59.99|  54.9900016784668|
|Product T|1020|2023-07-24|2023-07-24 09:30:00|64.99| 64.98999786376953|
+---------+----+----------+-------------------+-----+------------------+
only showing top 20 rows

In [37]:
# 2. Find the difference between each product’s price and the maximum price on that date

res = spark.sql(
    """
    WITH cte AS (
        SELECT
            Date,
            MAX(Price) AS max_price
        FROM products
        GROUP BY Date
    )
    SELECT
        p.Product,
        p.Date,
        p.Timestamp,
        p.Price,
        c.max_price,
        c.max_price - p.Price AS diff
    FROM
        products p
        INNER JOIN 
        cte c 
        ON p.Date = c.Date
    ORDER BY p.Date ASC
    ;
    """
)

res.show()

+---------+----------+-------------------+-----+---------+---------+
|  Product|      Date|          Timestamp|Price|max_price|     diff|
+---------+----------+-------------------+-----+---------+---------+
|Product D|2023-07-17|2023-07-17 14:45:00|19.99|    64.99|     45.0|
|Product H|2023-07-17|2023-07-17 09:00:00|44.99|    64.99|19.999996|
|Product L|2023-07-17|2023-07-17 10:30:00|64.99|    64.99|      0.0|
|Product C|2023-07-18|2023-07-18 09:30:15|39.99|    55.99|     16.0|
|Product G|2023-07-18|2023-07-18 12:30:00|24.99|    55.99|31.000002|
|Product K|2023-07-18|2023-07-18 08:30:15|55.99|    55.99|      0.0|
|Product B|2023-07-19|2023-07-19 14:20:45|49.99|    59.99|     10.0|
|Product F|2023-07-19|2023-07-19 16:00:00|59.99|    59.99|      0.0|
|Product J|2023-07-19|2023-07-19 15:00:00|49.49|    59.99|     10.5|
|Product A|2023-07-20|2023-07-20 10:15:30|29.99|    69.99|     40.0|
|Product E|2023-07-20|2023-07-20 11:15:30|34.99|    69.99|34.999996|
|Product I|2023-07-20|2023-07-20 13:15:30|69.99|    69.99|      0.0|
|Product M|2023-07-21|2023-07-21 12:00:00|74.99|    74.99|      0.0|
|Product N|2023-07-21|2023-07-21 14:30:00|24.99|    74.99|     50.0|
|Product O|2023-07-21|2023-07-21 16:45:00|39.99|    74.99|34.999996|
|Product P|2023-07-22|2023-07-22 10:00:00|54.99|    54.99|      0.0|
|Product Q|2023-07-22|2023-07-22 11:30:00|29.99|    54.99|25.000002|
|Product R|2023-07-23|2023-07-23 13:30:00|49.99|    59.99|     10.0|
|Product S|2023-07-23|2023-07-23 15:15:00|59.99|    59.99|      0.0|
|Product T|2023-07-24|2023-07-24 09:30:00|64.99|    64.99|      0.0|
+---------+----------+-------------------+-----+---------+---------+
only showing top 20 rows

In [41]:
# 2.

res = spark.sql(
    """
    WITH cte AS (
        SELECT
            *,
            MAX(price) OVER(PARTITION BY Date) AS max_price
        FROM products
    )
    SELECT 
        *,
        max_price - price AS diff
    FROM cte;
    """
)

res.show()

+---------+----+----------+-------------------+-----+---------+---------+
|  Product|  ID|      Date|          Timestamp|Price|max_price|     diff|
+---------+----+----------+-------------------+-----+---------+---------+
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|    64.99|     45.0|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|    64.99|19.999996|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|    64.99|      0.0|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|    55.99|     16.0|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|24.99|    55.99|31.000002|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|    55.99|      0.0|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|    59.99|     10.0|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|    59.99|      0.0|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|    59.99|     10.5|
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|    69.99|     40.0|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|34.99|    69.99|34.999996|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|    69.99|      0.0|
|Product M|1013|2023-07-21|2023-07-21 12:00:00|74.99|    74.99|      0.0|
|Product N|1014|2023-07-21|2023-07-21 14:30:00|24.99|    74.99|     50.0|
|Product O|1015|2023-07-21|2023-07-21 16:45:00|39.99|    74.99|34.999996|
|Product P|1016|2023-07-22|2023-07-22 10:00:00|54.99|    54.99|      0.0|
|Product Q|1017|2023-07-22|2023-07-22 11:30:00|29.99|    54.99|25.000002|
|Product R|1018|2023-07-23|2023-07-23 13:30:00|49.99|    59.99|     10.0|
|Product S|1019|2023-07-23|2023-07-23 15:15:00|59.99|    59.99|      0.0|
|Product T|1020|2023-07-24|2023-07-24 09:30:00|64.99|    64.99|      0.0|
+---------+----+----------+-------------------+-----+---------+---------+
only showing top 20 rows

In [38]:
# 2.

window_spec = Window.partitionBy("Date")

res = df.withColumn("max_price", max("Price").over(window_spec)) \
        .withColumn("diff", col("max_price") - col("Price"))

res.show()

+---------+----+----------+-------------------+-----+---------+---------+
|  Product|  ID|      Date|          Timestamp|Price|max_price|     diff|
+---------+----+----------+-------------------+-----+---------+---------+
|Product D|1004|2023-07-17|2023-07-17 14:45:00|19.99|    64.99|     45.0|
|Product H|1008|2023-07-17|2023-07-17 09:00:00|44.99|    64.99|19.999996|
|Product L|1012|2023-07-17|2023-07-17 10:30:00|64.99|    64.99|      0.0|
|Product C|1003|2023-07-18|2023-07-18 09:30:15|39.99|    55.99|     16.0|
|Product G|1007|2023-07-18|2023-07-18 12:30:00|24.99|    55.99|31.000002|
|Product K|1011|2023-07-18|2023-07-18 08:30:15|55.99|    55.99|      0.0|
|Product B|1002|2023-07-19|2023-07-19 14:20:45|49.99|    59.99|     10.0|
|Product F|1006|2023-07-19|2023-07-19 16:00:00|59.99|    59.99|      0.0|
|Product J|1010|2023-07-19|2023-07-19 15:00:00|49.49|    59.99|     10.5|
|Product A|1001|2023-07-20|2023-07-20 10:15:30|29.99|    69.99|     40.0|
|Product E|1005|2023-07-20|2023-07-20 11:15:30|34.99|    69.99|34.999996|
|Product I|1009|2023-07-20|2023-07-20 13:15:30|69.99|    69.99|      0.0|
|Product M|1013|2023-07-21|2023-07-21 12:00:00|74.99|    74.99|      0.0|
|Product N|1014|2023-07-21|2023-07-21 14:30:00|24.99|    74.99|     50.0|
|Product O|1015|2023-07-21|2023-07-21 16:45:00|39.99|    74.99|34.999996|
|Product P|1016|2023-07-22|2023-07-22 10:00:00|54.99|    54.99|      0.0|
|Product Q|1017|2023-07-22|2023-07-22 11:30:00|29.99|    54.99|25.000002|
|Product R|1018|2023-07-23|2023-07-23 13:30:00|49.99|    59.99|     10.0|
|Product S|1019|2023-07-23|2023-07-23 15:15:00|59.99|    59.99|      0.0|
|Product T|1020|2023-07-24|2023-07-24 09:30:00|64.99|    64.99|      0.0|
+---------+----+----------+-------------------+-----+---------+---------+
only showing top 20 rows

In [ ]:
# 3.Calculate cumulative sum and cumulative average of prices per date